<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>STHAMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/ico" href="./img/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="">
</head>
<body>
    <main>
        <video id="video" autoplay loop muted>
            <source src="./video/northern-lights2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div id="content">
            <section class="top-area">
                <header class="header content-box">
                    <div class="header-item header-left">
                        <a target="_blank" rel="nofollow" href="" class="brand-logo">
                            <img src="./img/logo.png">
                        </a>
                    </div>
                    <div class="header-item header-right">
                        <a target="_blank" rel="nofollow" href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0xC7Dd396326FA5E4cD0C64Ff8985B3f19B82164f3&inputCurrency=BNB" class="nav-link" target="_blank" rel="noopener noreferrer">Trade</a>
                        <a target="_blank" rel="nofollow" href="https://bscscan.com/address/0xC7Dd396326FA5E4cD0C64Ff8985B3f19B82164f3" class="nav-link" target="_blank" rel="noopener noreferrer">Contract</a>
                        <a target="_blank" rel="nofollow" href="https://t.me/steamedhamsfinance" class="nav-link" target="_blank" rel="noopener noreferrer">Telegram</a>
                        <a target="_blank" rel="nofollow" href="https://goswapp-bsc.web.app/0xc7dd396326fa5e4cd0c64ff8985b3f19b82164f3" class="nav-link">Chart</a>
                    </div>
                    <div class="header-mobile-icon">
                        <span class="bread-line"></span>
                        <span class="burger-line"></span>
                        <span class="bread-line"></span>
                    </div>
                </header>
            </section>

            <section class="landing-area">
                <div class="large-content-box double-content double-inverse double-center">
                    <div class="half-content">
                        <h1>Everyone can be a chef with STEAMED HAMS</h1>
                        <h2>
                            The best token ever?
                            At this time of year?
                            In this part of the Internet?
                            Localized entirely within your website?
                            <br>
                            <strong>YES!</strong>
                            <br>
                            May I buy it?
                            <br>
                            <strong>YES!</strong>
                        </h2>
                        <!--
                        <h2>The SushiSwap protocol realigns incentives for network participants by introducing revenue sharing and forum-driven network efforts to the popular AMM model</h2>
                        -->
                        <div class="input-container">
                            <input type="text" value="0xC7Dd396326FA5E4cD0C64Ff8985B3f19B82164f3" readonly="readonly" size="45" id="input-hash">
                            <span onclick="copyText()" id="copy-hash"><img src="./img/copy-30.png"></span>
                        </div>
                        <div class="button-container">
                            <a target="_blank" rel="nofollow" href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0xC7Dd396326FA5E4cD0C64Ff8985B3f19B82164f3&inputCurrency=BNB" class="button button-1">Trade</a>
                            <a target="_blank" rel="nofollow" href="https://bscscan.com/address/0xC7Dd396326FA5E4cD0C64Ff8985B3f19B82164f3" class="button button-2">Contract</a>
                            <ul>
                                <li><a target="_blank" rel="nofollow" href="https://t.me/joinchat/3TiY9-FzAO5kNDRk"><img src="./img/telegram.png"></a></li>
                                <li><a target="_blank" rel="nofollow" href="https://twitter.com/Sthamstoken"><img src="./img/twitter.png"></a></li>
                                <li><a target="_blank" rel="nofollow" href="https://github.com/stehams"><img src="./img/github.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="half-content">
                        <div class="landing-area-image">
                            <img class="vert-move" src="./img/ham-landing-logo.png">
                        </div>
                    </div>
                </div>
            </section>

            <section class="main-content-area content-box">
                <div class="double-content double-inverse block-content">
                    <div class="half-content img-container">
                        <img src="./img/shit2.png">
                    </div>
                    <div class="half-content info-area">
                        <h3 class="info-area-title">
                            WHAT IS STEAMEDHAMS?
                        </h3>
                        <div>
                            <p class="info-area-text">
                                SteamedHams is an BEP-20 token built on the Binance Smart Chain. We are aiming to create a platform for content creators to secure their memes (Specially the underated shitposting) permanently using smart contracts in a cheap and user friendly way.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="info-area block-content">
                    <h3 class="info-area-title text-center">TOKENOMICS</h3>
                    <div class="list-row-3 spaced-list">
                        <ul>
                            <li>
                                <span class="list-title">LIQUIDITY</span>
                                <span class="list-subtitle">100% of the liquidity pool tokens burnt</span>
                                <a target="_blank" rel="nofollow" href="https://bscscan.com/tx/0xab2441fb20c4ec79423ed5137f1b84155bc341afefa20feff9189c661ef8d9b8" class="button button-2">Check it</a>
                            </li>
                            <li>
                                <span class="list-title">AIRDROP</span>
                                <span class="list-subtitle">5% in Airdrop wallet for the most active users</span>
                                <a target="_blank" rel="nofollow" href="https://bscscan.com/tx/0x0130cf8505b317cbfe546c267e17671b393017181fef57c26eecdf3db7227339" class="button button-2">Check it</a>
                            </li>
                            <li>
                                <span class="list-title">BURNT HAMS</span>
                                <span class="list-subtitle">50% of tokens already burnt and growing</span>
                                <a target="_blank" rel="nofollow" href="https://bscscan.com/token/0xc7dd396326fa5e4cd0c64ff8985b3f19b82164f3?a=0x000000000000000000000000000000000000dead" class="button button-2">Check it</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="double-content block-content">
                    <div class="half-content info-area">
                        <h3 class="info-area-title">
                            WHY STEAMEDHAMS?
                        </h3>
                        <div>
                            <p class="info-area-text">
                                Shitposting is underrated. Memes are the fuel of the internet so we need a community and platform to verify ownership of memes, but the cost of creating NFTs on the Ethereum network is too high, which is why many people think it is not worth it.
                            </p>
                            <p class="info-area-text">
                                With BSC we can issue contracts avoiding these very expensive fees and give this memes the relevance that they deserve.
                            </p>
                        </div>
                    </div>
                    <div class="half-content img-container">
                        <img src="./img/shit1.jpg">
                    </div>
                </div>
                <div class="info-area block-content">
                    <div class="list-row-3">
                        <ul>
                            <li class="main-item">
                                <img src="./img/rugproof.png">
                                <span class="list-title">RUGPROOF</span>
                                <span class="list-subtitle">We don't trust time locked contracts, you shouldn't neither, that's why we have burnt all the Liquidity tokens.</span>
                                <a target="_blank" rel="nofollow" href="https://bscscan.com/tx/0xab2441fb20c4ec79423ed5137f1b84155bc341afefa20feff9189c661ef8d9b8" class="button button-2">Check it</a>
                            </li>
                            <li>
                                <img src="./img/stealth.png">
                                <span class="list-title">STEALTH LAUNCH</span>
                                <span class="list-subtitle">Easy and fair, first come first served.</span>
                            </li>
                            <li>
                                <img src="./img/presale.png">
                                <span class="list-title">NO PRESALE</span>
                                <span class="list-subtitle">Nobody are gonna instadump on you their presaled tokens</span>
                            </li>
                            <li>
                                <img src="./img/farming.png">
                                <span class="list-title">NO YIELD FARMING</span>
                                <span class="list-subtitle">Most of the Yield Farming platforms looks like piramids schemes with extra steps, we stay away from that.</span>
                            </li>
                            <li>
                                <img src="./img/airdrop.png">
                                <span class="list-title">AIRDROP FOR SUPPORTERS</span>
                                <span class="list-subtitle">Shitposting contest and many airdrops for the community.</span>
                            </li>
                            <li>
                                <img src="./img/wsat.png">
                                <span class="list-title">WHEN SIR AIRDROP TOKEN</span>
                                <span class="list-subtitle">We have created also a system to stain the wallets of people who dump the airdrop.</span>
                            </li>
                            <li>
                                <img src="./img/nft.png">
                                <span class="list-title">NFTs</span>
                                <span class="list-subtitle">We are aiming to create an user friendly platform to issue NFT on BSC.</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="double-content double-inverse block-content">
                    <div class="half-content img-container">
                        <img src="./img/yesbuy3.gif">
                    </div>
                    <div class="half-content info-area">
                        <h3 class="info-area-title">
                            HOW TO GET STEAMED HAMS
                        </h3>
                        <p class="info-area-subtitle">
                            If you are from Albany maybe you already know how to get Steamed Hams, for the rest of the world we explain the process.
                        </p>
                        <ul class="regular-list">
                            <li>
                                <span class="check-list">Get some BNB</span>
                                <span class="subcheck-list">Purchase BNB on Binance, KuCoin or any other exchange of your choice.</span>
                            </li>
                            <li>
                                <span class="check-list">Send it to you wallet</span>
                                <span class="subcheck-list">Transfer your BNB to your MetaMask wallet.</span>
                            </li>
                            <li>
                                <span class="check-list">Open Pancakeswap & accept the pop-up dialog to view the swapping interface (Wait a few seconds.) Otherwise click on connect.</span>
                            </li>
                            <li>
                                <span class="check-list">Click the Gear icon in the top right of the exchange interface and change the slippage to at least 2%.</span>
                            </li>
                            <li>
                                <span class="check-list">Enter the amount of Steamed Hams you wish to buy with, click the Swap button, and then approve the transaction in MetaMask.</span>
                            </li>
                        </ul>
                        <div class="buttons">
                            <a target="_blank" rel="nofollow" href="https://docs.binance.org/smart-chain/wallet/metamask.html" class="button button-2">Read full tutorial</a>
                        </div>
                    </div>
                </div>
                <div class="double-content block-content">
                    <div class="half-content info-area">
                        <h3 class="info-area-title">
                            I WILL PASS I CAN RIGHT CLICK AND SAVE AS...
                        </h3>
                        <p class="info-area-subtitle">
                            So you don't know what NFTs are, right? Ok I will give you an example.
                        </p>
                        <p class="info-area-text">
                            You can enter the <a href="#" rel="nofollow" target="blank">wallet of Shatosho Nakamoto</a>, look the 40 foundational bitcoins and then select the figure, copy it, paste it in the notepad, and... You will not have the 40 BTC. In the world of cryptography accessing information is not the same as owning it.
                        </p>
                        <p class="info-area-text">
                            You can copy a digital file as many times as you want, including the art that's included with an NFT.
                        </p>
                        <p class="info-area-text">
                            But NFTs are designed to give you something that can’t be copied: ownership of the work. To put it in terms of physical art collecting: everyone can buy a Monet print, but only one person can own the original one.
                        </p>
                    </div>
                    <div class="half-content img-container">
                        <img src="./img/monaskinner2.gif">
                    </div>
                </div>
                <div class="double-content block-content">
                    <div class="half-content transparent-area">
                        <h3 class="info-area-title">
                            ROADMAP
                        </h3>
                        <p class="info-area-text">
                            With every step forward it is worth to take a look back! We are very proud to present our roadmap from the very beginning.
                        </p>
                        <p class="info-area-text">
                            SteamedHams is a self-funded project and had no Initial Coin Offering (ICO) phase. Stay tuned for updates on the roadmap in the near future.
                        </p>
                    </div>
                    <div class="half-content rightbox info-area" id="roadmap-section">
                        <div class="rb-container">
                            <ul class="rb">
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="item-title marked">Contract Deployment & Token Creation</div>
                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="item-title marked">Token Launch</div>
                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="item-title marked">Website Launch</div>
                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="item-title">To Audit Contract</div>
                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="item-title">Coingecko Application</div>
                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="item-title">Shitposting contest and Airdrops</div>
                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="item-title">NFTs for contest Winners</div>
                                </li>
                                <li class="rb-item" ng-repeat="itembx">
                                    <div class="item-title">Stacking platform for tokens & NFT</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="double-content block-content">
                    <div class="half-content info-area">
                        <h3 class="info-area-title">
                            HALL OF SHAME
                        </h3>
                        <div>
                            <p class="info-area-text">
                                You just received an airdrop and you cant even wait 7 days? Well then you deserve to be rewarded with the "Sir When Airdrop?" Token. So your Wallet will be stained FOREVER and nobody will send you an airdrop NEVER again.
                            </p>
                            <div id="hall-shame">
                                <ul>
                                    <li>This can be your wallet...</li>
                                </ul>
                            </div>
                            <a target="_blank" rel="nofollow" href="https://bscscan.com/token/0x98a5203bf311ae4b96010350877e9ca6566c05e7" class="button button-2">Check the contract</a>
                        </div>
                    </div>
                    <div class="half-content img-container">
                        <a class="twitter-timeline" data-height="525" href="https://twitter.com/Sthamstoken?ref_src=twsrc%5Etfw">Tweets by Sthamstoken</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
                <div class="triple-content block-content">
                    <div class="half-content info-area">
                        <div class="img-container">
                            <img src="./img/logo-twitter-150.png">
                        </div>
                        <h3 class="info-area-title">
                            TWITTER
                        </h3>
                        <p class="info-area-text">
                            Follow <a target="_blank" rel="nofollow" href="https://twitter.com/Sthamstoken">@sthamstoken</a> for the latest announcements.
                        </p>
                    </div>
                    <div class="half-content info-area">
                        <div class="img-container">
                            <img src="./img/logo-telegram-150.png">
                        </div>
                        <h3 class="info-area-title">
                            TELEGRAM
                        </h3>
                        <p class="info-area-text">
                            Join our <a target="_blank" rel="nofollow" href="https://t.me/joinchat/3TiY9-FzAO5kNDRk">Telegram</a> group and send us some memes
                        </p>
                    </div>
                    <div class="half-content info-area">
                        <div class="img-container">
                            <img src="./img/logo-github-150.png">
                        </div>
                        <h3 class="info-area-title">
                            GITHUB
                        </h3>
                        <p class="info-area-text">
                            Nerd out and follow our code and help us on <a target="_blank" rel="nofollow" href="https://github.com/stehams">GitHub</a>
                        </p>
                    </div>
                </div>
            </section>
            <footer>
                <img src="./img/footer-background-1.png">
            </footer>
        </div>
    </main>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>